*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 180px;
}

h1 {
    color: rgb(131, 131, 131);
}

button.home {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 16px 100px;
    color: white;
    background-color: rgb(0, 150, 209);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button.home:hover{
    background-color: rgb(0, 150, 209, 0.8);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    position: relative;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 1200px;
    height: 700px;
    border: rgb(131, 131, 131);
    border-style: solid;
    border-radius: 20px;
    padding: 25px;
}

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 20px rgba(77, 77, 77, 0.5); 
    overflow: hidden;
}

h2{
    color:rgb(131, 131, 131);
}

.step{
    display: none;
}

.step.active{
    display: block;
}

.contact-information h2{
    padding-bottom: 25px;
}

.contact-information label {
    font-size: 18px;
    display: block;
}

.contact-information input{
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
    border-style: solid;
    border-width: 2px;
    height: 35px;
    width: 250px;
    margin: 15px 5px;
    font-size: 12px;
    padding: 10px;
}

.contact-information select{
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
    border-style: solid;
    border-width: 2px;
    height: 35px;
    width: 250px;
    margin: 15px 5px;
    font-size: 14px;
    padding: 8px;
}

.next{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.back{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    width: 130px;
    color: white;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.objective-statement h2{
    padding-bottom: 25px;
}

.objective-statement label {
    font-size: 18px;
    display: block;
}

.objective-statement textarea{
    resize: none;
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
    border-width: 2px;
    border-style: solid;
    margin: 15px 5px;
    font-size: 14px;
    padding: 10px;
    width: 400px;
    height: 100px;
}

.education h2{
    padding-bottom: 25px;
}

.education label{
    font-size: 18px;
    display: block;
}

.education input{
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
    border-style: solid;
    border-width: 2px;
    height: 35px;
    width: 250px;
    margin: 15px 5px;
    font-size: 12px;
    padding: 10px;
}

.education-add{
    display: flex;
    flex-direction: row;
}

.add-school{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    width: 50px;
    color: white;
    background-color: rgb(0, 150, 209);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

.del-school{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    width: 50px;
    color: white;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

.experience h2{
    padding-bottom: 25px;
}

.experience label{
    font-size: 18px;
    display: block;
}

.experience input{
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
    border-style: solid;
    border-width: 2px;
    height: 35px;
    width: 250px;
    margin: 15px 5px;
    font-size: 12px;
    padding: 10px;
}

.add-experience{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    width: 50px;
    color: white;
    background-color: rgb(0, 150, 209);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

.del-experience{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    width: 50px;
    color: white;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

.experience-add{
    display: flex;
    flex-direction: row;
}

.experience textarea{
    resize: none;
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
    border-width: 2px;
    border-style: solid;
    margin: 15px 5px;
    font-size: 14px;
    padding: 10px;
    width: 250px;
    height: 100px;
}

.skills h2{
    padding-bottom: 25px;
}

.skills label{
    font-size: 18px;
    display: block;
}

.skills input{
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
    border-style: solid;
    border-width: 2px;
    height: 35px;
    width: 250px;
    margin: 15px 5px;
    font-size: 12px;
    padding: 10px;
}

.add-skill{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    width: 50px;
    color: white;
    background-color: rgb(0, 150, 209);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}